.custom-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.custom-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.custom-form input[type="text"],
.custom-form input[type="ingredients"],
.custom-form input[type="price"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.custom-form input[type="price"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.custom-form input[type="price"]:hover {
    background-color: #45a049;
}