{% extends "base.html" %}

{% block content %}

<div id="menu">
    {% if pizzas %}
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>ingredients</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        {% for pizza in pizzas %}
        <tr>

            <td>{{ pizza ["id"] }}</td>
            <td>{{ pizza["name"] }}</td>
            <td>{{ pizza['ingredients'] }}</td>
            <td>{{ pizza['price'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    {% else %}
    <p>Нікого немає</p>
    {% endif %}

    </div>
<div>
    <button class="btn" type="button" onclick="window.location.href='{{url_for('add_pizza')}}';">
        Додати піццу!
    </button>
</div>
{% endblock %}